exclude-categories:
exclude-paths:
    - ".terraform"
    - "*/.terraform"
exclude-queries:
  - e592a0c5-5bdb-414c-9066-5dba7cdea370 #IAM Access Analyzer Undefined - always disable
  - a9a13d4f-f17a-491b-b074-f54bffffcb4a #Service Account Token Automount Not Disabled
  - 455f2e0c-686d-4fcb-8b5f-3f953f12c43c #Seccomp Profile Is Not Configured
  - 8657197e-3f87-4694-892b-8144701d83c1 #Readiness Probe Is Not Configured
fail-on:
  - high
  - medium
minimal-ui: false
no-color: false
no-progress: true
preview-lines: 3
silent: false
verbose: false
